nav.navbar {
    padding-left: 40px;
    background-color: #16457B;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.jumbotron {
    margin: auto;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 100px;
    background: #ededed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
}